@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" style="background:SpringGreen" >
    <h1 class="display-4" style="color:red">Welcome to Hellow-World</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>A release represents continuous delivery in Azure DevOps. A pipeline usually takes code, builds it, tests, and creates an artifact. Release pipelines takes the artifact and deploys it. So release pipelines are primarily split up into two components, the artifact and stages.</p>
</div>
